body.lock {
    /* запрещаем скролл, когда body получает класс lock */
    overflow: hidden;
}

.popup {
    /* черный частично прозрачный фон на весь экран */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    /* скрываем popup */
    /* (но не с помощью display: none, чтобы оставить возможность анимации) */
    opacity: 0;
    visibility: hidden;

    /* активация скролла в модальном окне */
    overflow-y: auto;
    overflow-x: hidden;

    /* анимация появления/скрытия */
    transition: all 800ms ease 0s;
}

/* когда у объекта одновременно классы .popup и .open */
.popup.open {
    opacity: 1;
    visibility: visible;
}

/* когда у объекта одновременно классы .popup и .open */
/* изменить свойства дочернего объекта с классом .popup__content */
.popup.open  .popup__content {
    /* анимация появления/скрытия */
    transform: translate(0, 0);
    opacity: 1;
}


.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* защитный отступ, чтобы содержимое не прилипало к краям экрана */
    padding: 30px 10px;
}
.popup__content {
    /* содержимое с установленной максимальной шириной */

    background-color: transparent;
    color: black;
    max-width: 1024px;
    /* внутренний отступ */
    /* padding: 30px; */
    position: relative;

    /* анимация появления/скрытия */
    transform: translate(0, -100%);
    opacity: 0;
    transition: all 800ms ease 0s;
}
.popup__content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
	object-position: center;
    
    /* устранение тонкой полоски фона под видео */
    /* (но при прозрачном фоне она и так будет не видна) */
    vertical-align: top;
}


.popup_close {
    /* кнопка для закрытия модального окна */

    /* (отключена за ненадобростью) */
    display: none;

    /* position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none; */
}
.popup__title {
    /* заголовок модального окна */

    /* (отключен за ненадобростью) */
    display: none;

    /* font-size: 40px;
    margin-bottom: 30px;
    display: none; */
}
.popup__text {
    /* содержимое модального окна - текст */
}
