
/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* Обнуление фона кнопок */
button {
	background-color: transparent;
	/* отключение синей подсветки */
	-webkit-tap-highlight-color: transparent;
}
/*--------------------*/

/* Продключение шрифта из файла */
@font-face {
    font-family: 'NEXT ART';
    src: url('../fonts/NEXTART-Bold.eot');
    src: url('../fonts/NEXTART-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NEXTART-Bold.woff2') format('woff2'),
        url('../fonts/NEXTART-Bold.woff') format('woff'),
        url('../fonts/NEXTART-Bold.ttf') format('truetype'),
        url('../fonts/NEXTART-Bold.svg#NEXTART-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*--------------------*/

/* Шрифт по умолчанию */
body {
  /* font-family: 'NEXT ART';
  font-weight: bold;
  font-size: 18px; */
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

	/* временный фон, чтобы было видно белые элементы */
	/* background-color: grey; */



}
/* --------------------- */

/* Цвета */
:root {
	--header-title-color: #FDFDFD;
	--header-button-background-color: #FDFDFD;
	--header-button-text-color: #1A3E3E;
	--header-bottom-bakgr-color:  rgba(255, 255, 255, 0.2);
	--title-h1-color: #F2BE22;
	--title-h2-color: #18121E;
	--button-dark-background-color: #1A3E3E;
	--button-dark-text-color: #FDFDFD;
	--main-text-color: #18121E;
	--background-gray: #F3F5F4;
	--popular-sticker-color: rgba(253, 253, 253, 0.4);
	--rating-text-color: #1A3E3E;
	--popular-popup-color: rgba(255, 255, 255, 0.2);
	--popular-popup-text-color: #FDFDFD;
	--popular-popup-price-bg-color:  rgba(255, 255, 255, 0.3);
	--blog-slider-title-color: #18121E;
	--blog-slider-date-color: #F2BE22;
	--blog-slider-link-color: #1A3E3E;
	--blog-slider-descr-color: #18121E;
	--blog-slider-backgr-color: #FDFDFD;
	--actual-email-bakgr-color: #F3F5F4;
	--actual-text-color: #18121E;
	--actual-bakgr1-color: transparent;
	--actual-bakgr2-color: #1A3E3E;;
	--actual-body-color: #FDFDFD;
	--footer-bakgr-color: #1A3E3E;
	--footer-text-color: #F3F5F4;
	--footer-text-hover-color: #F2BE22;
	--subfooter-text-color: #FFFFFF;
	--subfooter-bakgr-color: #18121E;
	--burger-bakgr-color: #1A3E3E;
	--burger-text-color: #FDFDFD;
	--burger-select-color: #F2BE22;
}

/* --------------------- */

.container {
	margin: 0 auto;
    padding: 0 16px;
    /* max-width: 1197px; */
}

h2 {
	color: var(--title-h1-color);
	padding-top: 50px;
	margin-bottom: 8px;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-transform: lowercase;
}

h3 {
	color: var(--title-h2-color);
	font-family: "Nunito Sans", sans-serif;
	font-weight: 800;
	font-size: 24px;
	line-height: 1.2em;
	margin-bottom: 24px;
}

/* Класс для темных кнопок */
.button-dark {
	background-color: var(--button-dark-background-color);
	color: var(--button-dark-text-color);
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.012em;
	padding: 16px 36px;
	border-radius: 4px;
	/* width: 200px; */
}

.about {
	padding-bottom: 50px;
}
.about__body {
}
.about__content {
	display: flex;
	flex-direction: column;
}
.about__title {
}
.about__subtitle {
}
.about__text {
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	color: var(--main-text-color);
	margin-bottom: 24px;
}
.about__button {
	margin: 0 auto;
	margin-bottom: 40px;
}
.button-dark {
}

/* *********************************************************** */
/* *********************** Медиа запросы ********************* */
/* *********************************************************** */
@media (min-width: 768px) {
	/* Шрифт по умолчанию */
	body {
		/* background-color: grey; */
	}
	
	/* --------------------- */
	
	.container {
		/* margin: 0 auto; */
		padding: 0 20px;
		max-width: 1220px;
	}
	
	h2 {
		/* color: var(--title-h1-color); */
		/* padding-top: 50px; */
		/* margin-bottom: 8px; */
		/* font-family: "Nunito Sans", sans-serif; */
		font-size: 24px;
		/* font-weight: normal; */
		/* line-height: 20px; */
		/* text-transform: lowercase; */
	}
	
	h3 {
		/* color: var(--title-h2-color); */
		/* font-family: "Nunito Sans", sans-serif; */
		/* font-weight: 800; */
		font-size: 32px;
		/* line-height: 1.2em; */
		margin-bottom: 40px;
	}
	
	/* Класс для темных кнопок */
	.button-dark {
		/* background-color: var(--button-dark-background-color); */
		/* color: var(--button-dark-text-color); */
		/* font-family: "Nunito Sans", sans-serif; */
		/* font-size: 16px; */
		/* font-weight: 600; */
		/* line-height: 20px; */
		/* letter-spacing: 0.012em; */
		/* padding: 16px 36px; */
		/* border-radius: 4px; */
		/* width: 200px; */
	}
}
